name: Build gstreamer using cerbero

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build_cerbero:
    strategy:
      matrix:
        include:
          - os: windows-2022
            arch: x64
            base_name: windows-x86_64
          - os: macos-15
            arch: armv8
            base_name: macos-armv8

    runs-on: ${{ matrix.os }}

    env:
      gst_version: 1.26.8
      DEFAULT_CERBERO_ARGS: >
        --variants werror
        --clocktime
        --timestamps

    steps:
      - uses: actions/checkout@v5

      - name: Setup git config
        if: matrix.os == 'windows-2022'
        run: C:\msys64\msys2_shell.cmd -ucrt64 -defterm -no-start -here -use-full-path -lc "git config --global core.autocrlf false"

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13.x'

      - name: Install build tools
        run: pip install ninja conan cmake

      # - name: Setup compiler (Windows)
      #   if: matrix.os == 'windows-2022'
      #   uses: ilammy/msvc-dev-cmd@v1

      - name: Install conan profile
        run: conan config install .github/conan_profiles/${{ matrix.os }}-${{ matrix.arch }} -tf profiles

      - name: Cache conan
        uses: actions/cache@v4
        id: cache-conan
        with:
          path: ~/.conan2
          key: ${{ matrix.base_name }}-conan-srt
          restore-keys: ${{ matrix.base_name }}-conan-

      - name: Install SRT (Windows)
        if: matrix.os == 'windows-2022' && steps.cache-conan.outputs.cache-hit != 'true'
        run: conan install --requires srt/1.5.4 --build=missing -pr:a ${{ matrix.os }}-${{ matrix.arch }} -s build_type=Release -g PkgConfigDeps

      # - name: Install SRT (macOS)
      #   if: matrix.os == 'macos-15'
      #   run: brew install srt

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.8.3
          cache: true
          dir: ${{ github.workspace }}
          modules: 'qtshadertools'

      - name: Set QMAKE6 env var (Windows)
        if: matrix.os == 'windows-2022'
        shell: bash
        run: |
          echo "QMAKE6=${{ github.workspace }}\Qt\6.8.3\msvc2022_64\bin\qmake.exe" >> $GITHUB_ENV      

      - name: Set QMAKE6 env var (macOS)
        if: matrix.os == 'macos-15'
        shell: bash
        run: |
          echo "QMAKE6=${{ github.workspace }}/Qt/6.8.3/macos/bin/qmake" >> $GITHUB_ENV

      - name: Clone cerbero
        shell: bash
        run: |
          if [ ! -d cerbero ]; then
            git clone --depth 1 --branch ${{ env.gst_version }} https://gitlab.freedesktop.org/gstreamer/cerbero.git cerbero
          fi

      - name: Prepare cerbero-sources
        shell: bash
        run: |
          mkdir -p cerbero/cerbero-sources
          rsync -a cerbero/recipes/ cerbero/cerbero-sources/

      - name: Cache cerbero
        uses: actions/cache@v4
        id: cache-cerbero
        with:
          path: cerbero/build
          key: ${{ matrix.base_name }}-cerbero-${{ env.gst_version }}
          restore-keys: |
            ${{ matrix.base_name }}-cerbero-

      - name: Configure build tool (Windows)
        if: matrix.os == 'windows-2022' && steps.cache-cerbero.outputs.cache-hit != 'true'
        working-directory: cerbero
        env:
          CONFIG: 'win64.cbc'
          CERBERO_HOME: "cb"
          CERBERO_SOURCES: "cerbero-sources"
          CERBERO: "./cerbero-uninstalled -c config/win64.cbc"
          CERBERO_ARGS: "${{ env.DEFAULT_CERBERO_ARGS }} -v nowerror -v norust -v qt6 -v noqt5"
          CERBERO_PACKAGE_ARGS: "-t"
          CERBERO_RUN_SUFFIX: ".exe"
          CERBERO_BOOTSTRAP_SYSTEM: "no"
          HAVE_CCACHE: ""
          # location where the cerbero git repo is stored on the image
          CERBERO_HOST_DIR: "C:/cerbero"
        run: |
          ./cerbero-uninstalled --help
          C:\msys64\msys2_shell.cmd -ucrt64 -defterm -no-start -here -use-full-path -lc "./ci/cerbero_setup.sh cerbero_deps_script"
          C:\msys64\msys2_shell.cmd -ucrt64 -defterm -no-start -here -use-full-path -lc "./ci/cerbero_setup.sh cerbero_script"

      # - name: Configure build tool (macOS)
      #   if: matrix.os == 'macos-15' && steps.cache-cerbero.outputs.cache-hit != 'true'
      #   working-directory: cerbero
      #   run: ./cerbero-uninstalled -v qt6 -v noqt5 -v norust -c config/cross-macos-universal.cbc bootstrap

      - name: Configure dependencies (macOS)
        if: matrix.os == 'macos-15' && steps.cache-cerbero.outputs.cache-hit != 'true'
        working-directory: cerbero
        env:
          CERBERO_HOME: "cb"
          CERBERO_SOURCES: "cerbero-sources"
          CERBERO: "./cerbero-uninstalled -c config/cross-macos-universal.cbc"
          CERBERO_ARGS: "${{ env.DEFAULT_CERBERO_ARGS }} -v nowerror -v norust -v qt6 -v noqt5"
          CERBERO_PACKAGE_ARGS: ""
          CERBERO_RUN_SUFFIX: ""
          CERBERO_BOOTSTRAP_SYSTEM: "no"
          HAVE_CCACHE: ""
          # location where the cerbero git repo is stored on the image
          CERBERO_HOST_DIR: "/Users/gst-ci/cerbero"
        run: |
          ./ci/cerbero_setup.sh cerbero_before_script
          ./ci/cerbero_setup.sh cerbero_deps_script

      - name: Build
        if: steps.cache-cerbero.outputs.cache-hit != 'true'
        working-directory: cerbero
        run: ./cerbero-uninstalled -v qt6 -v noqt5 -v norust build gst-plugins-good-1.0 gst-plugins-bad-1.0 gst-plugins-base-1.0 gst-libav-1.0

      # - name: Install
      #   working-directory: gstreamer
      #   run: meson install -C builddir

      # - name: Zip
      #   run: 7z a ${{ matrix.base_name }}-${{ env.gst_version }}.zip "${{ runner.temp }}/gstreamer"

      # - name: Upload artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: ${{ matrix.base_name }}
      #     path: ${{ matrix.base_name }}-${{ env.gst_version }}.zip
